validators/state.json
bittensor_subnet_template.egg-info/

desearch_template.egg-info/
desearch.egg-info/
smart-scrape_template.egg-info/
smart-scrape.egg-info/
datura/__pycache__/
desearch/__pycache__/
__pycache__/
*.pyc
wandb/

.vscode

venv/
.idea/

state.json

app.config.js
neurons/miners/manifest.json
neurons/miners/.env

.DS_Store
Makefile
pyrightconfig.json

.claude/
.pytest_cache/
.state/