bittensor==10.2.0
bittensor-wallet==4.0.1
async-substrate-interface==1.6.3
torch==2.6.0
numpy==2.0.2
wandb==0.23.1
aiohttp==3.10.2
apify-client==1.6.1
google-search-results==2.4.2
wikipedia==1.4.0
youtube-search==2.1.2
arxiv==2.1.0
openai==2.33.0
pytz==2024.2
faker==25.9.1
tiktoken==0.12.0
loguru==0.7.3
substrate-interface==1.7.11
redis[hiredis]==5.2.1
jsonpickle==4.0.2
aiosqlite>=0.20.0